				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><img src="@Url.Content("~/Content/images/new.gif")" border="0" /></td>
						<td>@Html.ActionLink("Create User", "Create")</td>
						<td>&nbsp;</td>
						<td><img src="@Url.Content("~/Content/images/list.gif")" border="0" /></td>
						<td>@Html.ActionLink("List Users", "Index")</td>
					</tr>
				</table>