@{
    ViewBag.Title = "About Us";
}

<table class="page" border="0" height="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<div class="text">
                <h3>About Us</h3>
                <p>
                    Put content here.
                </p>
			</div>
		</td>
	</tr>
</table>
