@{
    ViewBag.Title = "Home Page";
}

<table class="page" border="0" height="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<div class="text">
                <h3>@ViewBag.Message</h3>
                <p>
                    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                </p>
			</div>
		</td>
	</tr>
</table>
